.TeamTile {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 1rem;
  //background-color: green;
  img {
    height: 150px;
    width: auto;
  }
}
